{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheet %}
    {{ encore_entry_link_tags('categoryAdminAddUser') }}
{% endblock %}

{% block body %}
    <div class="container">
        <ul>
            {% for user in users %}
                <li class="user-item">
                    <div class="d-flex justify-content-between">
                        <p>{{ user.pseudo }}</p>
                        <div>
                            {% if not user.getAccessByCategory(category).roles.contains(constant('App\\ValuesObject\\Role::ADMIN_CATEGORY')) %}
                                {% if user.canWriteCategory(category) %}
                                    <form method="post" action="{{ url('category_admin_remove_user', { categoryUser: user.getAccessByCategory(category).id }) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                {% else %}
                                    <form method="post" action="{{ url('category_admin_new_user', { user: user.id, category: category.id }) }}">
                                        <button class="btn btn-primary">Ajouter</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <p class="bg-info rounded p-1">Administrateur</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

