body {
    background-color: lightgray;
}

.login-container, .register-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    width: 400px;
}

.dashboard_container {
    margin: 16px;
}
